body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(55, 57, 66);
  color: white;
}

h2,h3,h4 {
  text-align: center;
}

.container {
  height: 100vh;
  width: calc(100% - 40px);
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 70px auto 1fr auto;
  grid-gap: 20px;

  .primary-btn {
    width: 100%;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(142, 181, 13);
  }
}